module.exports = {
  siteMetadata: {
    title: "<< Your site name >>",
    description: "<< Your site description >>"
  },
  plugins: [
    {
      resolve: `gatsby-source-youtube-v3`,
      options: {
        channelId: ['<< Array of Youtube channelIDs>>', 'UCO2AwPJjrYzOm5i0MRLIIpQ'],
        apiKey: '<< Add your Youtube api key here >>',
        maxVideos: 50 // Defaults to 50
      },
    },
  ],
}
